<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pure - BG is a background removal website that allows you to easily remove the background from images. Simply enter the image URL and get a background-free image ready for download.">
        <meta name="keywords" content="background removal, image editing, remove background, photo editing, online background remover, Pure BG">
        <meta name="author" content="Tanmay Sawankar">
        <link rel="stylesheet" href="styles/index.css">
        <title>Pure - BG</title>
    </head>
    <body>
        <h1><img class="icon" src="img/logo.png"> Pure - BG
        </h1><br><br><br><br><br><br>
        <div class="form">
            <div>
                <form action="/remove-bg" method="POST">
                    <label for="image_url">Image URL:</label>
                    <input type="url" id="image_url" name="image_url"
                        placeholder="https://website/image.jpg..." required>
                    <button type="submit">Remove Background</button>
                    <% if (locals.content) { %>
                    <a href="<%= content %>" download="no-bg.png">
                        <button type="button">Download Image</button>
                    </a>
                    <% } %>
                </form>
            </div>
            <div>
                <% if (locals.content) { %>
                <img src="<%= content %>" alt="Result Image">
                <% } %>

                <% if (locals.error) { %>
                <p class="error"><%= error %></p>
                <% } %>
            </div>
        </div>
        <footer>
            <p>&copy; 2024 Pure - BG. All rights reserved. | Designed by <a
                    href="https://github.com/TanmaySawankar390">Tanmay
                    Sawankar</a></p>
        </footer>
    </body>
</html>
